.idea/*
tmp/*
venv/*
.pytest_cache/*
__pycache__/*
*.log
.~*\#
docs/build/doctrees/*
test/test-data/archive/*
test/test-data/*
!test/test-data/pattern-reg-test-1.0.txt
!test/test-data/min-puzzles.txt
!test/test-data/methods.txt