.idea/*
lib/*
libd/*
puzzles/*
tmp/*
venv/*
.pytest_cache/*
__pycache__/*
bat/bat-data/sudoku-db.txt
*.log
.~*\#
/bat/bat-data/puzzles1.txt
/test/test-data/puzzle-1.0-in.txt
/test/test-data/logic-step-regression-0.65.txt
/test/test-data/logic-step-regression-1.0.txt
/test/test-data/logic-step-regression-1.1.txt
/test/test-data/next-step-1.0-out.txt
/test/test-data/td.txt
/test/test-data/tr.txt
/test/test-data/tr1.txt
/test/tj1.py
/test/test-data/er.txt
/test/test-data/er1.txt
